#dice {
  text-align: center;
}
.game {
  display: none;
}
.gameBoard {
  text-align: center;
  min-height: 500px;
  display: none;
}
#win-condition1 {
  display: none;
}
#win-condition2 {
  display: none;
}
#rules {
  display: none;
}
.die1 {
  max-width: 100px;
  background-color: blue;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  line-height: 75px;
  color: white;

}
.die2 {
  margin-top: 10px;
  max-width: 100px;
  background-color: blue;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  line-height: 75px;
  color: white;
}
#displayTotals1 {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 100px;
  min-width: 100px;
  background-color: red;
  border: 5px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#displayTotals2 {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 100px;
  min-width: 100px;
  background-color: red;
  border: 5px solid black;
  text-align: right;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#displayTurns1 {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 100px;
  min-width: 100px;
  background-color: red;
  border: 5px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
#displayTurns2 {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 100px;
  min-width: 100px;
  background-color: red;
  border: 5px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
#display1 {
  text-align: center;
}
#display2 {

}
.buttons1 {
  display: none;
}
.buttons2 {
  display: none;
}
#player1Div {
  min-height: 500px;
}
#player2Div {
  min-height: 500px;
}
